.flex {
      display: flex;
      justify-content: center;
      align-items: center;
}

.flex-col {
      flex-direction: column;
}

body {
      overflow-x: hidden;
      width: 100vw;
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80vw;
      height: 15vh;
      background: #7D4F50;
      padding: 1vw 5vw;
      gap: 2rem;
      border-radius: 1rem;
      position: absolute;
      top: 5vh;
}

nav>img {
      border-radius: 50%;
      height: 80px;
      width: 80px;
}

nav>div {
      gap: 1.4rem;
      background-color: inherit;
      width: 20rem;
}

nav>div>a {
      font-size: 1rem;
      background-color: inherit;
      color: white;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
}

.home {
      padding-top: 20vh;
      height: 100vh;
}

.home>div>h1 {
      font-family: 'Tsukimi Rounded', sans-serif;
      font-size: 2.5rem;
      padding-right: 49vh;
}

.home>div>h2 {
      font-family: 'Tsukimi Rounded', sans-serif;
      text-align: left;
      padding: 0px 0vh 0px 10vh;
}

.home>div>img {
      width: 42rem;
      height: auto;
      padding: 0px 0vh 0px 35vh;
}

.intro {
      color: #F9EAE1;
      background-color: #7D4F50;
      padding: 0px;
      text-align: center;
      gap: 1.5rem;
      height: 100vh;
}

.intro>h3 {
      text-align: center;
      font-family: 'Tsukimi Rounded', sans-serif;
      font-size: 1.65rem;
      color: #F9EAE1;
      background-color: #7D4F50;
}

.intro>p {
      max-width: 700px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.1rem;
      text-align: center;
      color: #F9EAE1;
      background-color: #7D4F50;
}

.intro>div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      /* margin: auto 300px; */
      background-color: inherit;
}

.tech {     /* Card template */
      width: 225px;
      height: 225px;
      margin: 20px 20px;
      padding: 15px;
      box-shadow: 0 0 20px rgba(240, 139, 134, 0.5);
      text-align: center;
      border-radius: 9%;
      gap: 1rem;
      justify-content: evenly;
}

.tech>h6 {
      font-family: 'Tilt Neon', cursive;
      font-size: large;
}

.tech>p {
      font-family: 'Edu SA Beginner', cursive;
}

.tech>div>a>img {
      width: 45px;
      height: auto;
      margin: 0px auto;
}

.projects {
      height: 88vh;
      background-color: #F9EAE1;
      color: #7D4F50;
}

.projects>p, .projects>h2 {
      background-color: inherit;
      color: inherit;
}

.projects>h2 {
      font-family: 'Tsukimi Rounded', sans-serif;
      font-size: 1.65rem;
}

.achievements {
      height: 90vh;
      background-color: #7D4F50;
      color: #F9EAE1;
}

.achievements>p, .achievements>h2 {
      background-color: inherit;
      color: inherit;
}

.achievements>h2 {
      font-family: 'Tsukimi Rounded', sans-serif;
      font-size: 1.65rem;
}

footer {
      background-color: #7D4F50;
}

footer>p {
      font-family: Calibri;
      font-size: 1.3rem;
      text-align: center;
      background-color: inherit;
      color: #F9EAE1;
}

footer>div, footer>div>a {
      background-color: inherit;
}

footer>div>a>img, footer>div>img {
      width: 30px;
      height: auto;
      display: block;
      margin: 10px 10px;
      background-color: inherit;
}

* {
      background-color: #F9EAE1;
      color: #7D4F50;
      /* padding: 0%; */
      margin: 0%;
      box-sizing: border-box;
      /* font-family: Arial, Helvetica, sans-serifd; */
}

/* Media Querie for smart-phone display */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
      .home {
            flex-direction: column;
            width: 100vw;
            justify-content: center;
      }

      .home>div>h1 {
            font-size: 4rem;
      }

      .heading-text {
            font-size: 2.5rem;
      }

      .self {
            width: 80vw;
      }

      nav>div>a {
            font-size: 2rem;
      }

      .intro-content {
            max-width: none;
            padding: 0 1.5rem;
      }
}