/* Media Querie for smart-phone display */
@media only screen and (min-width: 600px) and (max-width: 425px) {
  .home {
    flex-direction: column;
    width: 100vw;
    justify-content: center;
  }

  .home>div>h1 {
    font-size: 4rem;
  }

  .heading-text {
    font-size: 2.5rem;
  }

  .self {
    width: 80vw;
  }

  nav>div>a {
    font-size: 2rem;
  }

  .intro-content {
    max-width: none;
    padding: 0 1.5rem;
  }
}

/* media query for tablet display */
@media only screen and (min-width:425px) and (max-width:786px) {}

/* media query for desktop display */
@media only screen and (min-width:786px) and (max-width:1024px) {}

@media only screen and (min-width:1024px) and (max-width:1440px) {
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-col {
    flex-direction: column;
  }

  body {
    overflow-x: hidden;
    width: 100vw;
  }

  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120vw;
    height: 15vh;
    background: #7d4f50;
    padding: 1vw 5vw;
    gap: 2rem;
    border-radius: 1rem;
    position: relative;
    top: 5.5vh;
  }

  .topnav>img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  .topnav>div {
    /* gap: 0.05rem; */
    background-color: inherit;
    width: 29rem;
  }

  .topnav>div>a {
    font-size: 1rem;
    background-color: inherit;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .home {
    height: 100vh;
  }

  .home>div>h1 {
    font-family: "Tsukimi Rounded", sans-serif;
    font-size: 2.5rem;
    padding-right: 35vh;
  }

  .home>div>h2 {
    font-family: "Tsukimi Rounded", sans-serif;
    text-align: left;
    padding: 0px 0vh 0px 12vh;
  }

  .home>div>img {
    width: 42rem;
    height: auto;
    padding: 0px 0vh 0px 20vh;
  }

  .intro {
    color: #f9eae1;
    background-color: #7d4f50;
    padding: 0px;
    text-align: center;
    gap: 1.5rem;
    height: 100vh;
  }

  .intro>h3 {
    text-align: center;
    font-family: "Tsukimi Rounded", sans-serif;
    font-size: 1.65rem;
    color: #f9eae1;
    background-color: #7d4f50;
  }

  .intro>p {
    max-width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    color: #f9eae1;
    background-color: #7d4f50;
  }

  .intro>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin: auto 300px; */
    background-color: inherit;
  }

  .tech {
    /* Card template */
    width: 225px;
    height: 225px;
    margin: 20px 20px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(240, 139, 134, 0.5);
    text-align: center;
    border-radius: 9%;
    gap: 1rem;
    justify-content: evenly;
  }

  .tech>h6 {
    font-family: "Tilt Neon", cursive;
    font-size: large;
  }

  .tech>p {
    font-family: "Edu SA Beginner", cursive;
  }

  .tech>div>a>img {
    width: 45px;
    height: auto;
    margin: 0px auto;
  }

  .projects {
    height: 88vh;
    background-color: #f9eae1;
    color: #7d4f50;
  }

  .projects>p,
  .projects>h2 {
    background-color: inherit;
    color: inherit;
  }

  .projects>h2 {
    font-family: "Tsukimi Rounded", sans-serif;
    font-size: 1.65rem;
  }

  .achievements {
    height: 90vh;
    background-color: #7d4f50;
    color: #f9eae1;
  }

  .achievements>p,
  .achievements>h2 {
    background-color: inherit;
    color: inherit;
  }

  .achievements>h2 {
    font-family: "Tsukimi Rounded", sans-serif;
    font-size: 1.65rem;
  }

  footer {
    background-color: #7d4f50;
  }

  footer>p {
    font-family: Calibri;
    font-size: 1.3rem;
    text-align: center;
    background-color: inherit;
    color: #f9eae1;
  }

  footer>div,
  footer>div>a {
    background-color: inherit;
  }

  footer>div>a>img,
  footer>div>img {
    width: 30px;
    height: auto;
    display: block;
    margin: 10px 10px;
    background-color: inherit;
  }

  * {
    background-color: #f9eae1;
    color: #7d4f50;
    /* padding: 0%; */
    margin: 0%;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serifd; */
  }
}

/* media query for large desktop display */
@media only screen and (min-width:1440px) {}

/* Style the navigation links */
.topnav #myLinks {
  display: none;
  position: relative;
  margin-top: 300px;

  background-color: #333;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  margin-right: 20px;

  /* margin: 30px; */
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;

  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  /* margin: 30px; */
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}


.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 15vh;
  background: #7d4f50;
  padding: 1vw 5vw;
  gap: 2rem;
  border-radius: 1rem;

}

.yourdiv {
  display: flex;
  justify-content: center;
  align-items: center;

}